{
  "version": "2017-02-28",
  "operation": "GetItem",
  "key": {
    "PK": $util.dynamodb.toDynamoDBJson("PRODUCT#$ctx.args.productId"),
    "SK": $util.dynamodb.toDynamoDBJson("PRODUCT")
  },
  "consistentRead": true
}
